body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    padding: 0;
    background: white url(img/tAOueauY8Xc.jpg) no-repeat 50% 0;
}

h1 {
    width: 260px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    line-height: 36px;
    margin-left: 550px;
}

.site-header {
    margin-bottom: 30px;
}

.container {
    width: 1000px;
    margin-left: 200px;
}